<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Сбросить пароль</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>Сгенерировать и отправить новый пароль на email?</p>
        <button type="submit">Да</button>
    </form>
    <a href="{% url 'users:profile' %}">Назад</a>
</body>
</html>